* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  background: skyblue;
  color: #000;
}

.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: skyblue;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 999;
}
.loader {
  display: flex;
  position: absolute;
  left: calc(50% - 225px);
  top: calc(50vh - 50px);
}
@keyframes element {
  from {
    transform: scale(1.75);
    border-radius: 30% 70% 70% 30% / 50% 50% 50% 50%;
  }
  to { border-radius: 70% 30% 70% 30% / 30% 70% 70% 30%; }
}
@keyframes element-1 {
  from { outline-color: rgba(255, 0, 0, 1.0); }
  to { outline-color: rgba(0, 255, 0, 1.0); }
}
@keyframes element-3 {
  from { outline-color: rgba(255, 0, 0, 1.0); }
  to { outline-color: rgba(0, 255, 0, 1.0); }
}
@keyframes element-2 {
  from { outline-color: rgba(255, 255, 0, 1.0); }
  to { outline-color: rgba(0, 0, 255, 1.0); }
}
@keyframes element-4 {
  from { outline-color: rgba(255, 255, 0, 1.0); }
  to { outline-color: rgba(0, 0, 255, 1.0); }
}
.load, .element {
  width: 100px;
  height: 100px;
  padding-top: 40px;
  text-align: center;
}
.element {
  position: relative;
  outline: 3px white solid;
  animation: element 1s ease-in-out infinite alternate-reverse;
}
.element-1 {
  left: 200px;
  animation-delay: -1s, -1s;
  animation-name: element, element-1;
}
.element-2 {
  left: 100px;
  transform: rotate(0.5turn);
  animation-delay: -0.75s, -0.75s;
  animation-name: element, element-2;
}
.element-3 {
  left: -100px;
  transform: rotate(0.25turn);
  animation-delay: -0.5s, -0.5s;
  animation-name: element, element-3;
}
.element-4 {
  left: -200px;
  transform: rotate(0.75turn);
  animation-delay: -0.25s, -0.25s;
  animation-name: element, element-4;
}
@media screen and (max-width: 960px) {
  .loader {
    left: calc(50% - 175px);
    top: calc(50vh - 35px);
  }
  .load, .element {
    width: 70px;
    height: 70px;
    padding-top: 25px;
    font-size: 0.75em;
    font-weight: bold;
  }
  .element-1 { left: 140px }
  .element-2 { left: 70px }
  .element-3 { left: -70px }
  .element-4 { left: -140px }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}




header,
nav/*,
section*/ {
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  justify-content: space-between;
  width: 100%;
  padding: 0 8em;
  background: #fff;
  box-shadow: 0 5px 20px 5px rgba(0, 191, 255, 0.4);
  height: 75px;
}
.logo {
  position: relative;
}
.logo a {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  transition: .3s;
  z-index: -1;
}
.logo a:hover {
  background: rgba(0, 175, 255, .25);
}
.logo a:hover i {
  display: block;
}
.logo span {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}
.logo
nav {
  justify-content: space-between;
}
nav div {
  display: flex;
}
nav button {
  display: none;
}
nav a {
  display: inline-block;
  text-decoration: none;
  color: #444;
  padding: 25px 0;
  border: 1px solid transparent;
  transition: 0.3s;
  font-weight: 700;
  min-width: 75px;
  text-align: center;
}
nav a:hover {
  background-color: rgba(0, 175, 255, .2);
}
header i {
  font-size: 3rem;
  color: #FFE87C;
  cursor: pointer;
}
header i:hover {
  animation: sun-rotate 2s linear infinite;
}
@keyframes sun-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 1024px) {
  header {
    padding: 0.5em 1.5em;
  }
  header i:hover {
    animation: none;
  }
  .logo {
    min-width: 150px;
  }
  .logo span {
    font-size: 1.75rem;
  }
  nav a {
    padding: 12.5px 5px;
    font-weight: 700;
    min-width: 50px;
    text-align: center;
    font-size: 13px;
  }
}
@media screen and (max-width: 720px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em 1.5em;
    height: 90px;
  }
  header i {
    font-size: 2rem;
  }
}
@media screen and (max-width: 400px) {
  nav a {
    font-size: 10.5px;
  }
}

/*footer*/
footer {
  background: #53ACE3;
  height: 7.5vh;
  box-shadow: 0 -20px 20px 5px rgba(83, 172, 227, 0.4);
  text-align: center;
  font-size: 12px;
}
footer a {
  display: inline-block;
  margin: 5px;
  text-decoration: none;
  color: #ccc;
}
@media screen and (max-height: 720px) {
  .footer-links {
    display: none;
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: center
  }
}
@media screen and (max-width: 720px) {
  .rights {
    font-size: 11px;
  }
}

/*сейчас/главная страница */
.fa-cloud { color: #fff; }
.fa-sun { color: #FFdd60; }
.fa-bolt { color: #FFBA00; }
.fa-moon { color: #FEFCD7; }
.fa-snowflake { color: #FFFAFA; }
.fa-cloud-showers-heavy { color: #8099a7; }

:root {
  --main-height: calc(92.5vh - 75px);
  --main-height-mobile: calc(92.5vh - 90px);
  --cold: royalblue;
  --warm: #FF1800;
}
.main {
  height: var(--main-height);
  display: flex;
}
.weather-now {
  width: 75%;
}
.block {
  position: relative;
  color: #333;
  background: rgba(210,210,210, .85);
  width: 600px;
  height: fit-content;
  border-radius: 1rem;
  padding: 1rem 3rem;
  padding-bottom: 2.5rem;
  margin: auto;
  margin-top: 20vh;
}
.weather-now .bottom {
  position: absolute;
  top: 160px;
  right: 10%;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 20%;
  font-size: 2rem;
  cursor: pointer;
}
.date {
  font-size: 1.125rem;
}
.location {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 3rem;
}
.weather-now .temp-info * {
  display: inline-block;
}
.weather-now .temp-info .wea-temp {
  font-weight: bold;
  font-size: 5rem;
  margin-left: 20px;
  color: var(--cold);
}
.weather-now .wea-status i {
  font-size: 4rem;
}
.weather-now .add-info {
  margin-top: 50px;
  font-weight: bolder;
}
.weather-now .add-info div {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}
.weather-now .add-info div:last-child { margin-right: 0; }
.weather-now .add-info div:after {
  content: "|";
  position: absolute;
  right: -7px;
}
.weather-now .add-info div:last-child:after,
.weather-now .add-info div:nth-last-child(4):after { display: none; }
.weather-now .add-info span.wea-temp {
  color: var(--cold);
}
.hide {
  display: none;
}

aside.cities {
  padding: 2rem;
}
aside.cities ul {
  margin-top: 10px;
  padding-left: 10px;
}
aside.cities li {
  list-style: none;
}
aside.cities li a {
  display: block;
  text-decoration: none;
  color: #555;
  padding: 7.5px;
}
aside.cities li a:hover {
  background: #53ACE3;
  color: #fff;
  font-weight: bolder;
  border-radius: 0.33rem;
}

@media screen and (max-width: 1024px) {
  .weather-now .block {
    width: 425px;
    padding: 1rem;
  }
  .weather-now .location {
    font-size: 1.5rem;
  }
  .weather-now .temp-info .wea-temp {
    font-size: 4rem;
  }
  .weather-now .wea-status i {
    font-size: 3rem;
  }
  .weather-now .bottom {
    top: 100px;
    width: 45px;
    height: 45px;
    font-size: 1.5rem;
  }
  .weather-now .add-info {
    font-size: 0.8rem;
    margin-top: 30px;
  }
  h2 {
    font-size: 1rem;
  }
  aside.cities ul {
    padding-left: 0;
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 720px) {
  .main {
    height: var(--main-height-mobile);
    flex-direction: column;
  }
  .weather-now {
    width: 100%;
    min-height: 60vh;
  }
  .weather-now .block {
    margin-top: 50px;
  }
  aside.cities {
    padding: .5rem;
    text-align: center;
    height: fit-content;
  }
  aside.cities h2 {
    font-size: 1rem;
  }
  aside.cities ul {
    margin-top: 1.5px;
  }
  aside.cities ul li {
    display: inline-block;
  }
  aside.cities li a {
    padding: 1.5px;
    max-width: 175px;
    margin: auto;
    text-align: center;
    font-size: 0.875rem;
  }
  aside.cities li a:hover {
    font-weight: normal;
  }
}
@media screen and (max-width: 480px) {
  .weather-now .block {
    width: 280px;
  }
  .weather-now .block .add-info div {
    display: block;
    width: fit-content;
  }
  .weather-now .block .bottom {
    right: 5%;
    bottom: 5%;
  }
  .weather-now .add-info div:after {
    display: none;
  }
  .weather-now .location {
    font-size: 1.125rem;
  }
}

/*ЗАВТРА*/
.weather-tomorrow {
  width: 75%;
}
.weather-tomorrow .block {
  position: relative;
}
.weather-tomorrow .periods {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.weather-tomorrow .period {
  position: relative;
  display: block;
  width: 125px;
  height: 100px;
}
.weather-tomorrow .temp-info {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 10px;
}
.weather-tomorrow .period {
  display: inline-block;
  border-right: 2px solid #555;
}
.weather-tomorrow .period:last-child {
  border: none;
}
.weather-tomorrow .feeling, .weather-tomorrow .wind {
  font-size: 0.8rem;
  padding-left: 0.75rem;
}
.weather-tomorrow .block>.bottom {
  position: absolute;
  bottom: 5px;
  left: calc(50% - 50px);
  border: none;
  width: 100px;
  height: fit-content;
  border-radius: .5rem;
  font-size: 1rem;
  cursor: pointer;
}
.weather-tomorrow .block>.add-info {
  text-align: center;
  font-size: .875rem;
}
.weather-tomorrow .per {
  text-align: center;
  font-weight: bolder;
  color: #777;
}
@media screen and (max-width: 1024px) {
  .weather-tomorrow .block {
    padding: 1rem;
    width: 500px;
    margin-top: 7.5vh;
  }
  .weather-tomorrow .periods {
    margin: 0;
    padding-bottom: 1rem;
  }
  .weather-tomorrow .period {
    height: 90px
  }
  .weather-tomorrow .feeling {
    font-size: .75rem;
  }
  .weather-tomorrow .add-info {
    margin-bottom: 1rem;
    font-weight: bolder;
  }
}
@media screen and (max-width: 720px) {
  .weather-tomorrow {
    width: 100%;
    height: 60vh;
  }
}
@media screen and (max-width: 520px) {
  .weather-tomorrow .block {
    width: 300px;
  }
  .weather-tomorrow .location {
    font-size: 1.5rem;
  }
  .weather-tomorrow .date {
    font-size: .875rem;
  }
  .weather-tomorrow .periods {
    flex-flow: row wrap;
    gap: 10px;
    padding: 0;
  }
  .weather-tomorrow .per {
    font-size: .875rem;
  }
  .weather-tomorrow .temp-info {
    font-size: 1.5rem;
    margin: 0;
  }
  .weather-tomorrow .block>.add-info {
    font-size: 0.75rem;
  }
  .weather-tomorrow .add-info div {
    display: inline-block
  }
  .weather-tomorrow .period {
    border: none;
  }
}

/*Неделя*/
.weather-week {
  width: 75%;
}
.weather-week .block {
  margin-top: 2.5vh;
  padding-bottom: 5px;
  width: fit-content;
}
.weather-week .period {
  display: flex;
  align-items: center;
  gap: 2.5px;
}
.weather-week .period:hover {
  border-radius: .5rem;
  background: rgba(255, 255, 255, .25);
}
.weather-week .period .data {
  width: 130px;
  font-weight: bolder;
  font-size: .95rem;
}
.weather-week .period .temp-info {
  font-size: 1.5rem;
  text-align: center;
  width: 44.3px;
}
.weather-week .period .temp-info span.time {
  color: #777;
  font-weight: bolder;
  font-size: .9rem;
}
.weather-week .period .temp-info, .weather-week .period .data {
  display: inline-block;
}
.weather-week .period .add-info-1, .weather-week .period .add-info-2, .weather-week .period .add-info-3, .weather-week .period .add-info-4,
.weather-week .period .add-info-5, .weather-week .period .add-info-6, .weather-week .period .add-info-7 {
  font-size: .7rem;
}
.weather-week .period .add-info-1 .devide, .add-info-2 .devide, .add-info-3 .devide, .add-info-4 .devide, .add-info-5 .devide, .add-info-6 .devide, .add-info-7 .devide {
  display: inline-block;
}
.weather-week .buttons {
  position: relative;
  width: fit-content;
}
.weather-week .buttons button {
  position: absolute;
  top: 70px;
  left: 15px;
  border: none;
  width: fit-content;
  height: 250px;
  border-radius: .5rem;
  font-size: .75rem;
  cursor: pointer;
  font-weight: bolder;
}
.weather-week .buttons .close {
  left: 175px;
}
.hidden {
  visibility: hidden;
  width: 0;
  height: 0;
}
@media screen and (max-width: 1024px) {
  .weather-week .block {
    padding: .5rem;
    padding-right: 2rem;
  }
  .weather-week .location {
    font-size: 2rem;
  }
  .weather-week .period .data {
    font-size: .8rem;
    width: 70px;
  }
  .weather-week .period .temp-info  {
      font-size: 1.33rem;
  }
  .weather-week .buttons .close {
    left: 165px;
  }
}
@media screen and (max-width: 720px) {
  .weather-week .block {
    padding: .25rem;
    padding-right: 1.5rem;
  }
  .weather-week {
    width: 100%;
  }
  .weather-week .period {
    gap: 0;
  }
  .weather-week .period .data {
    font-size: .75rem;
    width: 55px;
  }
  .weather-week .period .temp-info  {
      font-size: 1.125rem;
  }
  .weather-week .period .buttons button {
    top: 30px;
    left: 0;
  }
  .weather-week .period .buttons .close {
    left: 165px;
  }
  .weather-week .period .buttons button span {
    display: none;
  }
  .weather-week .period .add-info-1, .add-info-2, .add-info-3, .add-info-4, .add-info-5, .add-info-6, .add-info-7 {
    font-size: .65rem;
  }
  .weather-week {
    height: 60vh;
  }
}
@media screen and (max-width: 480px) {
  .weather-week .block .period>div:nth-child(2), .weather-week .block .period>div:nth-child(4) {
      display: none;
  }
}

/*2 недели*/
.weather-2weeks {
  width: 75%;
}
.weather-2weeks .block {
  margin-top: 2.5rem;
  width: 90%;
}
.weather-2weeks .line {
  width: 100%
}
.weather-2weeks .line .cell {
  text-align: center;
  display: inline-block;
  font-weight: bolder;
  width: calc(calc(100% - 4.5rem) / 14);
}
.weather-2weeks .line .cell>* {
  padding-bottom: 2.5px;
}
.weather-2weeks .line .cell .date {
  font-size: .7rem;
  height: 2rem;
}
.weather-2weeks .line .cell i {
  font-size: 1.5rem;
}
.weather-2weeks .line .cell .feeling, .weather-2weeks .line .cell .humidity, .weather-2weeks .line .cell .wind,
.weather-2weeks .line .cell .feeling i, .weather-2weeks .line .cell .humidity i, .weather-2weeks .line .cell .wind i {
  font-size: .7rem;
}
@media screen and (max-width: 1024px) {
  .weather-2weeks .line {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
  }
  .weather-2weeks .line .cell {
    display: block;
    width: 13%;
  }
}
@media screen and (max-width: 720px) {
  .weather-2weeks {
    width: 100%;
  }
  .weather-2weeks .block {
    padding: 1rem;
  }
}
@media screen and (max-width: 410px) {
  .weather-2weeks .line {
    width: 240px;
  }
  .weather-2weeks .line .cell {
    display: block;
    width: 30px;
  }
}

/*месяц*/
.weather-month {
  width: 75%;
}
.weather-month .block {
  width: 90%;
  margin-top: 2.5rem;
}
.weather-month .block .field {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(7, 1fr);
}
.weather-month .block .cell {
  position: relative;
  padding-left: 10px;
  border-radius: .5rem;
  transition: .25s;
  background: #ccc;
}
.weather-month .block .cell i {
  font-size: 1.25rem;
}
.weather-month .block .cell .dop i {
  font-size: .75rem;
}
.weather-month .block .cell .temp-info:nth-child(4) {
  position: relative;
  left: 25%;
  top: -1.1rem;
}
.weather-month .dop {
  display: none;
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  font-size: .75rem;
  text-align: right;
}
.weather-month .dw {
  background-color: none;
  font-weight: bolder;
}
.weather-month .dw:nth-child(6), .weather-month .dw:nth-child(7) {
  color: red;
}
.weather-month .block .cell:hover {
  background: #ddd;
  cursor: pointer;
}
.weather-month .block .cell:hover .dop {
  display: block;
}
@media screen and (max-width: 1200px) {
  .weather-month .block .cell .date {
    font-size: .875rem;
  }
  .weather-month .block .cell {
    padding-left: 0.125rem;
  }
  .weather-month .block .cell .temp-info:nth-child(4) {
    top: 0;
    left: 0
  }
}
@media screen and (max-width: 1024px) {
  .weather-month .block .cell .temp-info:nth-child(4) {
    left: 55%;
    top: -1.1rem;
  }
  .weather-month .dop {
    z-index: 1;
    top: 70%;
    text-align: center;
    background: #ddd;
    width: 100%;
    left: 0;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    font-size: .875rem;
  }
}
@media screen and (max-width: 720px) {
  .weather-month {
    width: 100%;
  }
  .weather-month .dw {
    font-size: .875rem;
  }
  .weather-month .location {
    font-size: 1.25rem;
  }
  .weather-month .block {
    padding: 0.1rem ;
  }
  .weather-month .block .cell .temp-info:nth-child(4) {
    left: 50%;
    top: -.85rem;
  }
  .weather-month .block .field {
    grid-gap: 1px;
  }
  .weather-month .block .cell:nth-child(1) { height: fit-content; }
  .weather-month .block .cell:nth-child(2) { height: fit-content; }
  .weather-month .block .cell:nth-child(3) { height: fit-content; }
  .weather-month .block .cell:nth-child(4) { height: fit-content; }
  .weather-month .block .cell:nth-child(5) { height: fit-content; }
  .weather-month .block .cell:nth-child(6) { height: fit-content; }
  .weather-month .block .cell:nth-child(7) { height: fit-content; }
  .weather-month .block .cell {
    height: 55px;
    font-size: .75rem;
  }
}
